@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;

}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    margin-left: 600px;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo{
    font-size:25px;
    color:#031540;
    text-decoration:none;
    font-weight:700;
}

.navbar a{
    font-size:18px;
    color:black;
    text-decoration: none;
    font-weight:500;
    margin-left:35px;
    transition:.3s;
}

.navbar a:hover{
    color:white;
    text-shadow: 0 0 10px black;
}

.home{
    height:100vh;
    background:linear-gradient(-90deg, salmon 65%, black 35%);
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 10%;
}

.home-image{
    margin-left: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:400px;
    height:400px;
    background:salmon;
    border-radius: 50%;
    border: 25px solid black;
    outline:25px solid salmon;
}

.home-image img{
    position:relative;
    max-width: 300px;
    border-radius:50%;
}

.home-content{
    max-width: 600px;
    color:black;
    text-align: right;
}

.home-content h1{
    font-size: 55px;
    line-height:1.2;
}

.home-content h3{
    font-size: 40px;
    color:transparent;
    -webkit-text-stroke: .5px black;
    background-image: linear-gradient(black, rgb(231, 108, 95));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

@keyframes animateText{
    0%, 95%, 100%{
        background-position: -410px 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}

.home-icon{
    margin:25px 0 40px;
}

.home-icon a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    background: transparent;
    border:2px solid black;
    border-radius:50%;
    color:black;
    text-decoration: none;
    margin-left:12px;
    transition: .5s;
}

.home-icon a:hover{
    background: black;
    color:#fff;
    border-color: black;
    box-shadow: 0 0 10px black;
}

.btn{
    padding: 12px 35px;
    background: black;
    border-radius: 40px;
    font-size: 17px;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px black;
}

.btn:hover{
    box-shadow:none;
}

.about{
    background: salmon;
}

.heading{
    text-align:center;
    margin:0 6rem;
    font-size: 35px;
    padding:1rem;
    border-bottom: 10px solid #fff4;
    color:black;
}

.heading span{
    color:white;
    text-shadow: 0 0 10px black;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info{
    flex: 1 1 20rem;
    padding: 2rem 1rem;
    padding-left: 10rem;
    padding-top:0;
}

.about .row .info h3{
    font-size:22px;
    color:black;
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color: white;
    text-shadow: 0 0 10px black;
    padding:0 .5rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:13rem;
    height:13rem;
    background: #222;
    box-shadow: 0 0 10px white;
    text-align: center;
    padding: 2rem;
    margin: 3rem;
    margin-top: 6px;

}

.about .row .counter .box span{
    font-size:32px;
    color:salmon;
}

.about .row .counter .box h3{
    font-size:22px;
    color:white;
}

.skill{
    width:100%;
    min-height:100vh;
    background-color: salmon;
}
.container{
    width:100%;
    min-height:100vh;
    padding:30px 10%;
}
.container .main-title{
    max-width: 700px;
    margin:0px auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.container .main-title h1{
    position: relative;
    font-size: 35px;
    color:black;
    margin-bottom: 30px;
    display: inline-block;
}

.container .main-title h1 span{
    color:#fff;
    text-shadow: 0 0 10px black;
}

.container .main-title h1::before{
    content: "";
    position: absolute;
    width:100%;
    height:1px;
    top:125%;
    left:0;
    background-color: black;
}
.container .main-title h1::after{
    content:'';
    position: absolute;
    width:50%;
    height:3px;
    background-color: black;
    top:calc(125% - 1px);
    left:50%;
    transform:translate(-50%);
}
.container .row{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.row .col{
    flex-basis: 46%;
}

.row .sub-title h2{
    position:relative;
    color:#242223;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
    margin-bottom: 30px;
}

.row .sub-title h2::before{
    content:"";
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: black;
}

.row .sub-title h2::after{
    content: "";
    position: absolute;
    width:25%;
    height: 3px;
    top:calc(125% - 1px);
    left:0;
    background-color: black;
}

.subject{
    font-size:18px;
    font-weight: bold;
    color:white;
    text-shadow: 0 0 10px black;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.progress-bar{
    position: relative;
    width:100%;
    height: 5px;
    background-color: rgb(238, 225, 225);
    border-radius :15px;
    margin-bottom: 20px;
}

.progress-bar::after{
    position: absolute;
    content:attr(value);
    top: -35px;
    right: 0;
    color:black;
    font-size: 18px;
}

.progress-line{
    position: absolute;
    width:0%;
    height: 7px;
    background: linear-gradient(90deg, rgb(168, 75, 65), black);
    border-radius:15px ;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate{
    100%{
        width:100%;
    }
}

.progress-line::after{
    content: "";
    position: absolute;
    width:13px;
    height: 13px;
    border-radius: 50%;
    top:50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.work-item {
    align-items: center;
    display: flex;
    max-width: 250px;
    margin-bottom: 20px;
    flex-direction: row;
}

.work-image img {
    border:8px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right:30px;
    margin-top:100px;
}

.work-title {
    color:white;
    text-shadow: 0 0 10px black;
    font-size: 20px;
    text-align: center;
}

.work-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language {
    font-weight:bold;
    font-size:18px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.language img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
    background-color: salmon;
}

.work-info{
    margin-top:60px;
    text-align: center;
    margin-right: 180px;
}
.work-container{
    width:100%;
    height:100vh;
    padding:30px 10%;
}
.work-container .work-main-title{
    max-width: 700px;
    margin:0px auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.work-container .work-main-title h1{
    position: relative;
    margin-right:20px;
    margin-top: 0;
    font-size: 35px;
    color:black;
    margin-bottom: 30px;
    display: inline-block;
}

.work-container .work-main-title h1 span{
    color:#fff;
    text-shadow: 0 0 10px black;
}

.work-container .work-main-title h1::before{
    content: "";
    position: absolute;
    width:100%;
    height:1px;
    top:125%;
    left:0;
    background-color: black;
}
.work-container .work-main-title h1::after{
    content:'';
    position: absolute;
    width:50%;
    height:3px;
    background-color: black;
    top:calc(125% - 1px);
    left:50%;
    transform:translate(-50%);
}

body{
    background: salmon;
}
.contact{
    align-items:center;
    text-align: center;
    justify-content: center;
    margin-top:250px;
    margin-bottom: 100px;
    background-color: salmon;
}

.contact-container{
    width:100%;
    height:50vh;
}

.headings{
    font-size:35px;
}

.headings span{
    color:white;
    text-shadow: 0 0 10px black;
}

.home-sci{
    margin:25px 0 40px;
}

.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    background: transparent;
    border:2px solid black;
    border-radius:50%;
    color:black;
    text-decoration: none;
    margin-left:12px;
    transition: .5s;
}

.home-sci a:hover{
    background-color: black;
    color:#fff;
    border-color: black;
    box-shadow: 0 0 10px black;
}













































































